.ExtraAccordion {
    display: flex;
    padding: 10px;
    .ExtraAccordionTab {
        width: 50%;
        margin: 10px;
    }
}

.OccasionHeader {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}