.Tables {
    display: flex;

    .CategoryTable {
        width: 50%;
        margin: 10px;
        padding: 10px;
    }

    .SubCategoryTable {
        width: 50%;
        margin: 10px;
        padding: 10px;
    }
}